{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content%}
<h1 class="title">Contact</h1>

<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4">Jimny The Cricket</p>
                <p class="subtitle is-6">@suchaworld</p>
            </div>
        </div>

        <div class="content">
            Hi! You can find me on twitter as <a href="https://twitter.com/suchaworld">@suchaworld</a>.
        </div>
    </div>
</div>
{% endblock %}
